  
<router-outlet></router-outlet>
<!-- ======= Our Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">
<router-outlet></router-outlet>
      <div class="section-title">
        <h2 style="color: #134489;">Our Services</h2>
        <p>As a firm of Chartered Accountants we present professional services in Accounting, Auditing, Setup of Business & Consultancy in all the related fields in accounting, taxation consultancy up to Liquidation and deregistration.</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="" routerLink="serroute">Accounting</a>
            </h4>
            <p class="description">Outsource your finance needs from bookkeeping to management accounts or compilations, payroll consolidated group accounts and technical accounting</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href=""  routerLink="serroute"></a>Auditing</h4>
            <p class="description"></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href=""  routerLink="serroute">Business Setup</a></h4>
            <p class="description">Get the right advice on where to set up your business.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href=""  routerLink="serroute">Tax Consultant</a></h4>
            <p class="description"></p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Our Services Section -->
 <!-- Vendor JS Files -->
 <script src="src/assets/vendor/purecounter/purecounter.js"></script>
 <script src="src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="src/assets/vendor/glightbox/js/glightbox.min.js"></script>
 <script src="src/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
 <script src="src/assets/vendor/swiper/swiper-bundle.min.js"></script>
 <script src="src/assets/vendor/waypoints/noframework.waypoints.js"></script>
 <script src="src/assets/vendor/php-email-form/validate.js"></script>

 <!-- Template Main JS File -->
 <script src="src/assets/js/main.js"></script>
