 

<!-- ======= Contact Us Section ======= -->
<section id="contact" class="contact section-bg">

    <div class="container">
      <div class="section-title">
        <h2>Contact Us</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>
    </div>

    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-6 d-flex align-items-stretch infos">

          <div class="row">

            <div class="col-lg-6 info d-flex flex-column align-items-stretch">
              <i class="bx bx-map"></i>
              <h4>Address</h4>
              <p>A108 Adam Street,<br>New York, NY 535022</p>
            </div>
            <div class="col-lg-6 info info-bg d-flex flex-column align-items-stretch">
              <i class="bx bx-phone"></i>
              <h4>Call Us</h4>
              <p>+1 5589 55488 55<br>+1 5589 22548 64</p>
            </div>
            <div class="col-lg-6 info info-bg d-flex flex-column align-items-stretch">
              <i class="bx bx-envelope"></i>
              <h4>Email Us</h4>
              <p>contact@example.com<br>info@example.com</p>
            </div>
            <div class="col-lg-6 info d-flex flex-column align-items-stretch">
              <i class="bx bx-time-five"></i>
              <h4>Working Hours</h4>
              <p>Mon - Fri: 9AM to 5PM<br>Sunday: 9AM to 1PM</p>
            </div>
          </div>

        </div>

        <div class="col-lg-6 d-flex align-items-stretch contact-form-wrap">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="name">Your Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <label for="email">Your Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="subject">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <label for="message">Message</label>
              <textarea class="form-control" name="message" rows="8" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Us Section -->
 <!-- Vendor JS Files -->
 <script src="src/assets/vendor/purecounter/purecounter.js"></script>
 <script src="src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="src/assets/vendor/glightbox/js/glightbox.min.js"></script>
 <script src="src/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
 <script src="src/assets/vendor/swiper/swiper-bundle.min.js"></script>
 <script src="src/assets/vendor/waypoints/noframework.waypoints.js"></script>
 <script src="src/assets/vendor/php-email-form/validate.js"></script>

 <!-- Template Main JS File -->
 <script src="src/assets/js/main.js"></script>
