 <!-- ======= Hero Section ======= -->
 <section id="hero">
  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->
  
  
  <div class="site-navbar-wrap">
    <div class="site-navbar-top">
      <div class="container py-3">
        <div class="row align-items-center">
          <div class="col-6">
            <div class="d-flex mr-auto">
              <a href="mailto:ummer.icai2018@gmail.com" class="d-flex align-items-center mr-4 ">
                <span class="icon-envelope mr-2"></span>
                <span class="d-none d-md-inline-block">ummer.icai2018@gmail.com</span>
              </a>
              <a href="tel:+91 9946802549" class="d-flex align-items-center mr-auto">
                <span class="icon-phone mr-2"></span>
                <span class="d-none d-md-inline-block">+91 9946802549</span>
              </a>
            </div>
          </div>
          <div class="col-6 text-right">
            <div class="mr-auto">
              <a href="#" class="p-2 pl-0"><span class="icon-twitter"></span></a>
              <a href="#" class="p-2 pl-0"><span class="icon-facebook"></span></a>
              <a href="#" class="p-2 pl-0"><span class="icon-linkedin"></span></a>
              <a href="#" class="p-2 pl-0"><span class="icon-instagram"></span></a>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div class="site-navbar site-navbar-target js-sticky-header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-2">
            <h1 style="font: size 200px; font-weight: bolder;" class="my-0 site-logo animate__animated animate__zoomIn"><a href="index.html" style="color: #134489;"> UR & Associates </a></h1>
          </div>
          <div class="col-10">
            <nav class="site-navigation text-right" role="navigation">
              <div class="container">
                <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                  <a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                  <li class="active"><a href="#home" class="nav-link">Home</a></li>
                  <li class="active"><a href="#about" class="nav-link">About Us</a></li>
                  <li class="active"><a href="#team" class="nav-link">Our Team</a></li>
               <li class="has-children">
                    <a href="#services" class="nav-link">How We Help</a>
                    <ul class="dropdown arrow-top">
                      <li><a href="#" class="nav-link">Accounting</a></li>
                      <li><a href="#" class="nav-link">Auditing</a></li>
                      <li><a href="#" class="nav-link">Tax Consultation</a></li>
                      <li class="has-children">
                        <a href="#">Business Setup</a>
                        <ul class="dropdown">
                          <li><a href="#">Menu One</a></li>
                          <li><a href="#">Menu Two</a></li>
                          <li><a href="#">Menu Three</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                 
                 
                  <li><a href="news.component.html" class="nav-link">News & Update</a></li>
                
                 
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">
          
          <!-- Slide 1 -->
          <div class="carousel-item active">
            <div class="carousel-background"><img src="assets/img/slide/slide-3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">A great partner who understand your business. <span></span></h2>
                <p class="animate__animated animate__fadeInUp">We provide our clients with accurate data and opinion which will ensure the clients growth with right information for the right decision.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Discover More</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item">
            <div class="carousel-background"><img src="assets/img/slide/slide-2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item">
            <div class="carousel-background"><img src="assets/img/slide/slide-3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get Started</a>
              </div>
            </div>
          </div>

        </div>

       

      </div>
    </div>
  </section><!-- End Hero -->

