
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<div class="section-title">
            <h2 style="color: #134489;">Contact Us</h2>
            <p>Let's get in touch</p>
          </div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row mb-5">
							<div class="col-md-3">
								<div class="dbox w-100 text-center" style="color: #134489;">
			        		<div class="icon d-flex align-items-center justify-content-center" style="color: #134489;">
								<i class="bx bx-map"></i>
			        			<span class="fa fa-map-marker"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Address:</span> UR & Associates Calicut, Kerala, India</p>
				          </div>
			          </div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
                   
					<i class="bx bx-phone"></i>
			        		</div>
			        		<div class="text">
				            <p><span>Phone:</span> <a href="tel:+919946802549">+91 9946802549</a></p>
				          </div>
			          </div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
								<i class="bx bx-envelope"></i>
			        			<span ></span>
			        		</div>
			        		<div class="text">
				            <p><span>Email:</span> <a href="mailto:ummer.icai2018@gmail.com">ummer.icai2018@gmail.com</a></p>
				          </div>
			          </div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
								<i class="bx bx-map"></i>
			        		</div>
			        		<div class="text">
				            <p><span>Website</span> <a href="#"> : yoursite.com</a></p>
				          </div>
			          </div>
							</div>
						</div>
						<div class="row no-gutters">
							<div class="col-md-7">
								<div class="contact-wrap w-100 p-md-5 p-4">
									
									<div id="form-message-warning" class="mb-4"></div> 
				      		<div id="form-message-success" class="mb-4">
				            Your message was sent, thank you!
				      		</div>
                  
									<form action="mailto:ummer.icai2018@gmail.com" target="_blank" id="contactForm" name="contactForm" class="contactForm">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">Full Name</label>
													<input type="text" class="form-control" name="name" id="name" placeholder="Name">
												</div>
											</div>
											<div class="col-md-6"> 
												<div class="form-group">
													<label class="label" for="email">Email Address</label>
													<input type="email" class="form-control" name="email" id="email" placeholder="Email">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject">Subject</label>
													<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="#">Message</label>
													<textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
												</div>
											</div>
											<div class="col-md-12" style="color: #134489;">
												<div class="form-group" style="color: #134489;">
													<input type="submit" value="Send Message" class="btn btn-primary" >
													<div class="submitting" style="color: #134489;">
                            
                          </div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-5 d-flex align-items-stretch">
								<div class="info-wrap w-100 p-5 img" >
                  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3632.951700736103!2d54.440315750302844!3d24.417745468794823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e4272e074b769%3A0xa3cd912bfbb1a2d0!2sY%20TOWER%20ADNEC!5e0!3m2!1sen!2sae!4v1640246556106!5m2!1sen!2sae" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
			          </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	

