 
<!-- ======= Cta Section ======= -->
<section class="cta">
    <div class="container">

      <div class="text-center">
        <h3>Call To Action</h3>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="cta-btn" href="#">Call To Action</a>
      </div>

    </div>
  </section><!-- End Cta Section -->
 <!-- Vendor JS Files -->
 <script src="src/assets/vendor/purecounter/purecounter.js"></script>
 <script src="src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="src/assets/vendor/glightbox/js/glightbox.min.js"></script>
 <script src="src/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
 <script src="src/assets/vendor/swiper/swiper-bundle.min.js"></script>
 <script src="src/assets/vendor/waypoints/noframework.waypoints.js"></script>
 <script src="src/assets/vendor/php-email-form/validate.js"></script>

 <!-- Template Main JS File -->
 <script src="src/assets/js/main.js"></script>

