

<!-- ======= Our Team Section ======= -->
<section id="team" class="team">
  <div class="container">

    <div class="section-title">
      <h2 style="color: #134489;">OUR TEAM</h2>
      <p>Meet Our Team</p>
    </div>

    <div class="row">
     <router-outlet></router-outlet>
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="member">
         
          <img src="assets/img/team/umr.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <a routerLink="teamroute">  <h4>CA Ummer Rashid K T</h4>
              <span>Chartered Accountant</span></a>
            </div>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
        <div class="member">
          <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <a routerLink="teamroute">  <h4>Sarah Jhonson</h4>
              <span>Product Manager</span></a>
            </div>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
        <div class="member">
          <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <a routerLink="teamroute">   <h4>William Anderson</h4>
              <span>CTO</span></a>
            </div>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
        <div class="member">
          <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <a routerLink="teamroute">  <h4>Amanda Jepson</h4>
              <span>Accountant</span></a>
            </div>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Our Team Section -->
<!-- Vendor JS Files -->
<script src="src/assets/vendor/purecounter/purecounter.js"></script>
<script src="src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="src/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="src/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="src/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="src/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="src/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="src/assets/js/main.js"></script>